<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="pl"><![endif]-->
<html class="no-js" lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" href="../favicon.ico">
		<title>game_of_life</title>
		<link rel="stylesheet" href="../css/app.css">
		<script src="/js/vendor/jquery/jquery.js"></script>
		<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
		<script src="/js/vendor/angular/angular.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body ng-app="gameOfLife">
		<div class="container" ng-controller="gameController">
			<div class="row">
				<div class="col-lg-12 form-inline">
					width:
					<input class="form-control" type="number" ng-model="setWidth" />
					height:
					<input class="form-control" type="number" ng-model="setHeight" />
					<a class="btn btn-default" ng-click="init()">Reset</a>
					<a class="btn btn-default" ng-click="stopPlay()">Play/Stop</a>
					<!-- <a class="btn btn-default" ng-click="stop()">Stop</a> -->
					<a class="btn btn-default" ng-click="nextStep()">Next step</a>
					<span>Step: {{step}}</span>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-lg-12">
					<table class="table-bordered">
						<tr ng-repeat="row in playboard">
							<td ng-repeat="cell in row track by $index" ng-class="{black: cell.value}" ng-click="toggle(row, $index)"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
